{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <legend class="border-bottom my-1">
            <h4>
                <a class="text-decoration-none" href="{% url 'user_blogs' object.author %}">
                    <img class="rounded-circle article-img" src="{{ blog.author.profile.image.url }}" width="35"/>
                </a>
                {{ object.category }} - {{ object.title }}
                <span class="float-right">{{ object.date_posted }}</span>
            </h4>
        </legend>
        <div class="container">
            <p class="text-muted">{{ object.content|linebreaks }}</p>
            {% if object.image %}
                <img class="img-fluid border p-2" src="{{ object.image.url }}" width="600"/>
            {% endif %}
            <legend>
                <h6>Author - {{ object.author.first_name }} {{ object.author.last_name }}</h6>
            </legend>
        </div>
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'add_comment' object.id %}">
                {% csrf_token %}
                <div class="row my-0">
                    <div class="col-md-11">
                        <fieldset class="form-group">
                            {{ blog_comment_form|crispy }}
                        </fieldset>
                    </div>
                    <div class="col-md-1 d-flex align-items-center">
                        <button class="btn btn-sm btn-info">Add</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <h5 class="mx-3" style="color:cadetblue;">
            All Comments ({{ object.comment.count }})
            {% if request.user in object.likes.users.all %}
                <a href="{% url 'vote_blog' pk=object.id opinion='like' %}" class="text-decoration-none">
                    <span class="oi oi-thumb-up px-2">{{ object.likes.users.count }}</span>
                </a>
            {% else %}
                <a href="{% url 'vote_blog' pk=object.id opinion='like' %}" class="text-decoration-none" style="color: cadetblue;">
                    <span class="oi oi-thumb-up px-2">{{ object.likes.users.count }}</span>
                </a>
            {% endif %}
            {% if request.user in object.dis_likes.users.all %}
                <a href="{% url 'vote_blog' pk=object.id opinion='dislike' %}" class="text-decoration-none">
                    <span class="oi oi-thumb-down px-2">{{ object.dis_likes.users.count }}</span>
                </a>
            {% else %}
                <a href="{% url 'vote_blog' pk=object.id opinion='dislike' %}" class="text-decoration-none" style="color: cadetblue;">
                    <span class="oi oi-thumb-down px-2">{{ object.dis_likes.users.count }}</span>
                </a>
            {% endif %}
        </h5>
        <div class="border my-0">
            {% if not object.comment.all %}
                <div class="col-sm-6 text-muted">
                    No comments yet...
                </div>
            {% endif %}
            {% for comment in object.comment.all %}
                <div class="row text-muted mx-1 border-bottom">
                    {% if comment.critic == object.author %}
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <h6>
                                Author |
                                {{ comment.date_commented }} |
                                {% if request.user in comment.likes.users.all %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='like' %}" class="text-decoration-none">
                                        <span class="oi oi-thumb-up px-2">{{ comment.likes.users.count }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='like' %}" class="text-decoration-none" style="color: cadetblue;">
                                        <span class="oi oi-thumb-up px-2">{{ comment.likes.users.count }}</span>
                                    </a>
                                {% endif %}
                                {% if request.user in comment.dis_likes.users.all %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='dislike' %}" class="text-decoration-none">
                                        <span class="oi oi-thumb-down px-2">{{ comment.dis_likes.users.count }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='dislike' %}" class="text-decoration-none" style="color: cadetblue;">
                                        <span class="oi oi-thumb-down px-2">{{ comment.dis_likes.users.count }}</span>
                                    </a>
                                {% endif %}
                            </h6>
                            <p>{{ comment.comment }}</p>
                        </div>
                    {% else %}
                        <div class="col-sm-6">
                            <h6>
                                {{ comment.critic.first_name }} {{ comment.critic.last_name }} ({{ comment.critic }}) |
                                {{ comment.date_commented }} |
                                {% if request.user in comment.likes.users.all %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='like' %}" class="text-decoration-none">
                                        <span class="oi oi-thumb-up px-2">{{ comment.likes.users.count }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='like' %}" class="text-decoration-none" style="color: cadetblue;">
                                        <span class="oi oi-thumb-up px-2">{{ comment.likes.users.count }}</span>
                                    </a>
                                {% endif %}
                                {% if request.user in comment.dis_likes.users.all %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='dislike' %}" class="text-decoration-none">
                                        <span class="oi oi-thumb-down px-2">{{ comment.dis_likes.users.count }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'vote_blog_comment' pk=comment.id opinion='dislike' %}" class="text-decoration-none" style="color: cadetblue;">
                                        <span class="oi oi-thumb-down px-2">{{ comment.dis_likes.users.count }}</span>
                                    </a>
                                {% endif %}
                            </h6>
                            <p>{{ comment.comment }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}