{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-0 pt-1">
                    <h4 class="text-center">Change Your Password</h4>
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-block" type="submit">
                    Change Password
                </button>
            </div>
        </form>
    </div>
{% endblock %}