{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}""></script>
    <script type="text/javascript" src="{% static 'js/verification.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Modal -->
    <dialog id="signupOTPModel" style="border: none !important; width: 40%;">
        <a href="javascript:{document.getElementById('signupOTPModel').close()}" class="float-right">
            <span class="oi oi-circle-x text-decoration-none"></span>
        </a>
        <p id="signupOTPModelText"></p>
    </dialog>

    <div class="container d-flex align-items-center justify-content-center">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-0 pt-1">
                    <h4 class="text-center">Join {{ mysite }} Today</h4>
                </legend>
                <div class="row">
                    {% for field in form %}
                    <div class="col-sm-6">
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                </div>
                <label for="otp">OTP*</label>
                <input type="text" name="otp" required />
                <a class="btn btn-sm btn-primary py-0" type="button" href="javascript:void(0)" onclick="generate_mail_otp('signup');">Send OTP</a>
                <img id="loading" class="img-fluid" src="{% static 'loading.gif' %}" width="25" style="display: none;"/>
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-success px-5" type="submit">
                    Sign Up
                </button>
                <div class="mt-3">
                    <a href="{% url 'signin' %}">Already Have an Account?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}